/*
Error: File to import not found or unreadable: colors/syntax-light.
       Load paths:
         C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/Configuration/SassFrameworks/bourbon
         C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/Configuration/SassFrameworks/neat
         C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/Configuration/SassFrameworks/base
        on line 5 of C:/DATA/GithubCloud/huang-cumt.github.io/_sass/addon/syntax.scss
        from line 6 of C:\DATA\GithubCloud\huang-cumt.github.io\_sass\main.scss

1: @import 'colors/typography-light';
2: @import 'colors/typography-dark';
3: @import 'addon/variables';
4: @import 'variables-hook';
5: @import 'addon/module';
6: @import 'addon/syntax';
7: @import 'addon/commons';
8: @import 'layout/home';
9: @import 'layout/post';
10: @import 'layout/tags';

Backtrace:
C:/DATA/GithubCloud/huang-cumt.github.io/_sass/addon/syntax.scss:5
C:\DATA\GithubCloud\huang-cumt.github.io\_sass\main.scss:6
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:67:in `rescue in import'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:44:in `import'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `map'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:20:in `render'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:290:in `render'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:396:in `run'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/bin/sass:23:in `load'
C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/ruby/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: colors/syntax-light.\A        Load paths:\A          C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/Configuration/SassFrameworks/bourbon\A          C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/Configuration/SassFrameworks/neat\A          C:/PROGRAM_OTHER/AdobeDW/Adobe Dreamweaver 2021/Configuration/SassFrameworks/base\A         on line 5 of C:/DATA/GithubCloud/huang-cumt.github.io/_sass/addon/syntax.scss\A         from line 6 of C:\DATA\GithubCloud\huang-cumt.github.io\_sass\main.scss\A \A 1: @import 'colors/typography-light';\A 2: @import 'colors/typography-dark';\A 3: @import 'addon/variables';\A 4: @import 'variables-hook';\A 5: @import 'addon/module';\A 6: @import 'addon/syntax';\A 7: @import 'addon/commons';\A 8: @import 'layout/home';\A 9: @import 'layout/post';\A 10: @import 'layout/tags';"; }
